.linha{
    height: 70vh;
    margin: 5%;
}

.col1{
    background-color: rgb(59, 120, 243);
    color: white;
}

.col2{
    background-color: red;
    color: white;
    padding-top: 20vh;
}

.conteudo{
    text-align: center;
    padding-top: 20vh;
}